<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Funds</title>
    <%-include('partials/style')%>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="children" id="nav_bar">
        <div class="nav_child" id="logo_container">
           <span id="logo"> Fundchain </span>
        </div>

        <div class="nav_child" id="credentials_container">
            <ul id="credential_list">
                <li class="credentials" id="login"> <a href="/login" class="cred_links">Login</a> </li>
                <li class="credentials" id="signin"><a href="/signup" class="cred_links">Sign up</a></li>
            </ul>
        </div>

    </nav>


    <main class="children" id="main_content">

        <div class="content_holder" id="top_section" >
            <div id="moto" class="moto_c">
                <span class="blogging">Empower Dreams</span> , <br> <span class="blockchain">Fuel Change</span>
            </div>
            <div id="img_holder" class="moto_c">
                <img src="y.png" alt="" id="blog_img" class="img_home">
            </div>
        </div>

        <div class="content_holder" id="mid_section">
            <div class="mid_c" id="opening">
                Welcome to Fundchain Where Ideas Meet Support. Empower dreams, fund innovation, and shape the future. Join a community of changemakers, pioneers, and visionaries. Decentralized crowdfunding, bringing together creators and backers in a seamless, transparent, and empowering ecosystem. Start making a difference today.
            </div>

            <div class="mid_c" id="why_b">
                <div class="b_c" id="why">
                    Funding on blockchain?
                </div>
                <div class="b_c" id="ans">
                    "Welcome to the future of crowdfunding! At [Your Platform Name], we've embraced the power of blockchain technology to revolutionize the way ideas are funded. Why choose blockchain crowdfunding? Transparency, security, and inclusivity. With blockchain, every transaction is recorded on an immutable ledger, ensuring unparalleled transparency. Your funds are secured through decentralized networks, eliminating the risk of central authority control. Plus, smart contracts streamline the process, ensuring fair and automated distribution of funds. Join us in shaping a new era of crowdfunding where trust and innovation converge on the blockchain.</span>
                </div>
            </div>
        </div>

        <div class="content_holder" id="bot_section">
            <div class="bot-0">
                <a href="/signin" class="li_1">Create an account</a>  and start contributing💻!!!
            </div>
        </div>
    </main>


    <footer id="foot" class="children">
        <div class="f_c" id="compy">
            © 2023 Fundchain
        </div>
        <div class="f_c" id="log_c">
            <div class="logo_p">
                <img src="T.png" alt="" class="lo_i">
            </div>

            <div class="logo_p">
                <img src="I.png" alt="" class="lo_i">
            </div>

            <div class="logo_p">
                <img src="F.png" alt="" class="lo_i">
            </div>
        </div>
    </footer>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>